@media (min-width: 1400px) {
    .container {
        width: 1250px;
    }
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {
    .header__mobile-toggle-btn{
        display: flex;
    }
    .menu{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header__search-btn,
    .header__theme-btn{
        display: none;
    }

}

@media screen and (max-width: 576px) {

}