@import "../../components/default.css";


.header{
    background-color: var(--header-color);
    backdrop-filter: blur(5px);
    position: fixed;
    left: 0;
    top: 0;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    right: 0;
    z-index: 5;
    border-bottom: 1px solid var(--primary-color);
}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8.5rem;
}


/* start header right */

.header__right{
    display: flex;
    align-items: center;
    gap: 3rem;
    height: 100%;
}
.menu{
    display: flex;
    align-items: center;
    gap: 4rem;
    font-size: 2rem;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}
.menu-item{
    position: relative;
    padding: 1.5rem 0 ;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.menu-item:hover .menu-item-dropdown-list{
    visibility: visible;
    opacity: 1;
    height: auto;
    cursor: pointer;
}
.menu-link{
    display: flex;
    gap: .5rem;
    align-items: center;
    color: var(--text-color);
}
.menu-item-angle-down{
}

.menu-item-dropdown-list{
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 5.7rem;
    padding: 0;
    text-wrap: nowrap;
    transition: all 200ms ease;
    background-color: var(--section-color);
    padding: .5rem 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid var(--primary-color);
    border-top: 2px solid var(--primary-color);

    cursor: default;
}

.menu-dropdown-item{
    word-wrap: normal;
    cursor: auto;
    padding: 1rem;
}
.menu-dropdown-link{
    color: var(--text-color-light);
}

/* end header right */

/* start header left */
.header__left{
    display: flex;
    align-items: center;
}
.header__username{
    font-size: 2rem;
    background-color: var(--app-bg-color);
    padding: 1rem 2rem;
    border-radius: 3rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    cursor: pointer;

    position: relative;
}
.header__username-icon{
    color: var(--text-color);
}
.header__username-dropdown{
    width: 28rem;
    cursor: default;
    background-color: var(--section-color);
    border-radius: 2rem;
    color: var(--text-color);
    padding: 2rem;

    position: absolute;
    top: 120%;
    left: 0;

    transition: all 200ms ease;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
}
.header__username-dropdown--show{
    visibility: visible;
    opacity: 1;
}
.header__username-dropdown-name{
    display: block;
    border-bottom: 1px solid var(--text-color-light);
    padding-bottom: 2rem;
    text-align: center;
}
.header__username-dropdown-links{
    padding-bottom: 2rem;
    margin-top: 2rem;
    border-bottom: 1px solid var(--text-color-light);
}
.header__username-dropdown-item,
.header__username-dropdown-logout{
    cursor: pointer;
    display: block;
    transition: all 200ms ease;
    border-radius: 2rem;
    padding: 1.5rem 1rem;
    width: 100%;

    display: flex;
    align-items: center;
    gap: .5rem;
}
.header__username-dropdown-item-icon,
.header__username-dropdown-logout-icon{
    width: 17px;
    height: 17px;
}
.header__username-dropdown-item-text{

}
.header__username-dropdown-item:hover{
    background-color: var(--primary-color);
    color: #fff;
}
.header__username-dropdown-logout{
    margin-top: 1rem;
    background-color: transparent;
    border: none;
    color: var(--text-color);
}
.header__username-dropdown-logout:hover{
    background-color: red;
}
.header__username-dropdown-logout-icon{

}
.header__username-dropdown-logout-text{

}

.header__search-btn,
.header__theme-btn,
.mobile__theme-btn{
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 100%;
    position: relative;

}
.header__theme-btn{
    margin: 0 1.5rem;
    z-index: 1;
}

.header__search-icon,
.header__theme-btn-icon,
.mobile-menu__theme-btn,
.mobile__theme-btn-icon{
    width: 2rem;
    height: 2rem;
    padding: 2rem;
    color: var(--text-color) !important;
    border-radius: 100%;
    background-color: var(--app-bg-color);
    cursor: pointer;
}
.haeder__global-search-dropdown-wrapper{
    position: absolute;
    top: 120%;
    opacity: 0;
    visibility: hidden;
    display: flex;
    transition: all 200ms ease;
    z-index: 1000;
}

.haeder__global-search-dropdown-wrapper--show{
    visibility: visible;
    opacity: 1;
}
.haeder__global-search-dropdown,
.mobile-menu__search-box{
    position: relative;
    padding: .5rem;
    background-color: var(--section-color);
    cursor: default;
    border-radius: 3rem;
}
.header__global-search-dropdown-input,
.mobile-menu__search-box-input{
    height: 6rem;
    border: none;
    font-size: 2rem;
    background-color: transparent;
    color: var(--text-color);
}
.mobile-menu__search-box{
    background-color: var(--app-bg-color);
}
.header__search-dropdown-icon,
.mobile-menu__search-box-icon{
    position: absolute;
    left: 1rem;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 3rem;
    height: 3rem;
    color: var(--text-color);
    cursor: pointer;
}

/* end header left */


/* start header logo */

.header__logo-wrapper{
    height: 100% !important;
    cursor: pointer;
    padding: 1.5rem 1rem;
}
.header__logo-icon{
    width: 100% !important;
    height: 100% !important;
}

.header__mobile-toggle-btn {
    width: 49.25px;
    height: 52.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

.header__mobile-toggle-btn-line {
    width: 3rem;
    height: 0.4rem;
    background-color: var(--primary-color);
    position: relative;
    border-radius: 3rem;
    transition: all 100ms ease;
}

.header__mobile-toggle-btn-line::after,
.header__mobile-toggle-btn-line::before {
    position: absolute;
    content: " ";
    width: 3rem;
    height: 0.4rem;
    background-color: var(--primary-color);
    border-radius: 3rem;
    transition: all 100ms ease;
}

.header__mobile-toggle-btn-line::after {
    top: 1rem;
}

.header__mobile-toggle-btn-line::before {
    top: -1rem;
}


/* end header logo */

/* cover */

.cover{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;

    background-color: rgba(0, 0, 0, .7);
    z-index: 9;
    visibility: hidden;
    display: none;
    opacity: 0;
    transition: all 50ms ease;
}
.cover--show{
    visibility: visible;
    opacity: 1;
    display: block;
}

/* cover */

/* start mobile menu */

.mobile-menu{
    position: fixed;
    top: 0;
    right: -33rem;
    bottom: 0;
    min-height: 100vh;
    background-color: var(--section-color);
    padding: 0 3rem;
    transition: all 200ms ease;
    z-index: 100;
    display: none;
    width: 33rem;
}
.mobile-menu--open{
    right: 0;
}

.mobile-menu__header{
    display: flex;
    gap: 1.5rem;
    padding: 3rem 0;
    border-bottom: 2px solid #edf3f3;
    margin-bottom: 3rem;
}
.mobile-menu__logo-wrapper{
    width: 11rem;
}
.mobile-menu__logo-icon{
    width: 100%;
}

.mobile-menu__close-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    border: none;
    border-radius: 3rem;
    font-size: 2rem;
    background-color: var(--app-bg-color);
    color: var(--text-color);
}
.mobile-menu__close-btn::after,
.mobile-menu__close-btn::before{
    content: "";
    background-color: var(--text-color);
    width: 5rem;
    height: .3rem;
    border-radius: 3rem;
    left: 50%;
}
.mobile-menu__close-btn::after{
    transform: rotate(45deg) translate(7px, -7px);
}
.mobile-menu__close-btn::before{
    transform: rotate(-45deg) translate(-7px, -7px);
}
.mobile-menu__theme-btn{

}
.mobile-menu__search-box{

}
.mobile-menu__search-box-input{

}
.mobile-menu__search-box-icon{

}
.mobile-menu__list{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}
.mobile-menu__list-item{
    font-size: 2rem;
    position: relative;
}
.mobile-menu__item-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-menu__item-link{
    justify-content: space-between;
}
.mobile-menu__item-angle-left{
    transition: all 500ms ease;
    color: var(--text-color);
}

.mobile-menu__item-angle-left--open{
    transform: rotate(-90deg);
}
.mobile-menu__dropdown-list{
    height: 0;
    overflow: hidden;
    text-wrap: nowrap;
    background-color: var(--section-color);
    right: 105%;
    top: 0;
    transition: all 500ms ease;
    background-color: #edf3f3;
    border-radius: 3rem;
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.mobile-menu__dropdown-list--open{
    visibility: visible;
    height: auto;
    padding: 1rem 4rem;
    margin-top: 1rem;
}
.mobile-menu__dropdown-item{

}
.mobile-menu__dropdown-link{
    text-wrap: wrap;
    font-size: 1.6rem;
    color: var(--text-color-light);
}

/* end mobile menu */

/* start panel link */

.panel-link{
    border: 2px solid var(--primary-color);
    padding: .3rem 1rem;
    width: fit-content;
    display: none;
}
.panel-link--show{
    display: block;
}

/* end panel link */



/* ==========================   responsive  ====================== */


@media (min-width: 1400px) {
    .container {
        width: 1250px;
    }
}

@media screen and (max-width: 1200px) {
    .menu-link,
    .header__username{
        font-size: 1.9rem;
    }
}

@media screen and (max-width: 992px) {
    .header__mobile-toggle-btn{
        display: flex;
    }
    .menu{
        display: none;
    }
    .mobile-menu{
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .header__search-btn,
    .header__theme-btn{
        display: none;
    }

}

@media screen and (max-width: 576px) {

}


/* ==========================   responsive  ====================== */