/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 6 version
*/

@import "../../components/default.css";


/* start title */

.title-wrapper {
    margin-top: 5rem;
}

.title {
    font-size: 2.8rem;
    font-family: "IRANSans bold";
    position: relative;
    padding-right: 3rem;
    color: var(--text-color);
}

.title::before{
    content: "";
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
    border-radius: .5rem;
    background-color: var(--primary-color);
}

.sub-title{
    font-size: 2.3rem;
}

/* end title */

/* hint */
.hint{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    font-size: 1.8rem;
    color: var(--hint-color);
    margin-top: 1rem;
}
.hint__icon{

}
.hint__text{
    margin: 0;
}