/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 6 version
*/

@import "../../components/header/header.css";
@import "../../components/default.css";
@import "../../components/footer/footer.css";
@import "../../components/session/session.css";
@import "../../components/session/session-responsive.css";


.main{
    padding-top: 8.5rem;
}

.maincontent{
    margin-top: 4rem;
    color: var(--text-color);
}
.maincontent-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
}
.maincontent__right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
.maincontent__right-header{

}
.maincontent__title{
    font-size: 3rem;
    font-family: "IRANSans bold";
    margin-bottom: 2rem;
}
.maincontent__desc{
    font-size: 2rem;
    color: var(--text-color-light);
}
.maincontent__bottom{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.maincontent__btn{
    font-size: 2rem;
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 3rem;
    -webkit-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}
.maincontent__btn:hover{
    color: #fff;
    background-color: #0055a0;
}
.maincontent__btn-icon{
    margin-left: 0.5rem;
}
.maincontent__text{
    font-size: 2rem;
    font-family: "IRANSans bold";
}
.maincontent__cover{
    border-radius: 2rem;
    overflow: hidden;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
.maincontent__image{
    width: 100%;
}

/* start course informations */

.courseinfoes{
    margin-top: 7rem;
}
.courseinfoes__info-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--section-color);
    margin: 0.75rem 0;
    padding: 1.5rem;
    border-radius: 2rem;
}
.courseinfoes__icon{
    font-size: 3rem;
    margin-left: 2rem;
    color: var(--primary-color);
}
#star-icon{
    color: #f59e0b;
}
.courseinfoes__details{

}
.courseinfoes__title{
    font-size: 2rem;
    font-family: "IRANSans bold";
    color: var(--text-color);
}
.courseinfoes__desc{
    font-size: 1.5rem;
    color: var(--text-color-light);
}

/* end course informations */

/* start course sessions */

.course__header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 6rem;
    margin-bottom: 4rem;
    color: var(--text-color);
}
.course__title{
    font-size: 2.8rem;
    font-family: "IRANSans bold";
    position: relative;
    padding-right: 3rem;
}
.course__title::before{
    content: "";
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
    border-radius: .5rem;

}
.blue-bg.course__title::before{
    background-color: var(--primary-color);
}
.sessions__count{
    text-align: left;
    height: 5rem;
    font-size: 2rem;
    color: var(--text-color-light);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.sessions__wraper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
}

/* end course sessions */