/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 6 version
*/

@media (min-width: 1400px) {
    .container {
        width: 1250px;
    }

}

@media screen and (max-width: 1350px) {

}
@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {
    .maincontent-wrapper{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .maincontent__cover{
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    }
    .maincontent__bottom{
        margin-top: 2rem;
    }
    .maincontent__title{
        font-size: 3rem;
    }
}

@media screen and (max-width: 768px) {


}

@media screen and (max-width: 576px) {


    .courseinfoes__info-box{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
    }
    .courseinfoes__icon{
        margin: 0;
        margin-bottom: 1rem;
    }

    .courseinfoes__title{
        font-size: 1.6rem;
    }
    .courseinfoes__desc{
        font-size: 1.4rem;
    }

}
@media screen and (max-width: 470px){

}
@media screen and (max-width: 400px) {
    .maincontent__bottom{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .maincontent__text{
        margin-top: 2rem;
    }
}
@media screen and (max-width: 340px) {
    .courseinfoes__title{
        font-size: 1.4rem;
    }
    .courseinfoes__desc{
        font-size: 1.3rem;
    }
}