/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 6 version
*/

@import "../../../components/header/header.css";
@import "../../../components/default.css";
@import "../../components-panel/panel-titles.css";
@import "../../components-panel/panel-form.css";
@import "../../components-panel/panel-table.css";


main {
    padding-top: 8.5rem;
    padding-bottom: 8.5rem;
}


/* start all categorys */


.category-table__item-number{
    width: 2rem;
}
.category-table__item-price{

}
.category-table__delete-btn{
    border: 1px solid var(--text-color);
    width: 10rem;
}
.category-table__delete-btn button{
    width: 100%;
    height: 100%;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    border: none;
}
.category-table__delete-btn button:hover{
    background-color: rgb(237, 0, 0);
    color: #fff;
}

/* end all categorys */