/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 6 version
*/

@import "../components/reset.css";
@import "../components/variables.css";
@import "../components/fonts.css";
@import "../vendor/Bootstrap/bootstrap.min.css";

:root{
    font-size: 8.7px;
}

html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 1.6rem;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

body{
    font-size: inherit;
    background-color: var(--app-bg-color);
    font-family: "IRANSans";
    -webkit-transition: background-color 80ms ease;
    -o-transition: background-color 80ms ease;
    transition: background-color 80ms ease;
}

*,
*::before,
*::after {
    outline: none;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    -webkit-transition: color 50ms ease;
    -o-transition: color 50ms ease;
    transition: color 50ms ease;
}

a {
    text-decoration: none !important;
    color: var(--text-color);
}

a:hover{
    color: var(--primary-color);
}

/* swal styles */

.swal2-popup{
    font-size: 2rem !important;
}
.swal2-confirm{
    background-color: var(--primary-color) !important;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 7px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: var(--section-color);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-color); 
    border-radius: 2px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #005aa8; 
  }

/* scrollbar */