@font-face {
    font-family: 'IRANSans';
    src: url(../fonts/IRANSans/IRANSans.ttf);
}
@font-face {
    font-family: 'IRANSans bold';
    src: url(../fonts/IRANSans/IRANSans_Bold.ttf);
}
@font-face {
    font-family: 'IRANSans black';
    src: url(../fonts/IRANSans/IRANSans_Black.ttf);
}