/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 6 version
*/

@import "../../../components/default.css";
@import "../../components/menu-account.css";
@import "../../components/content-account.css";

.account-content__infos-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
    margin-top: 3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.info-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: .5rem;
}
label{
    position: relative;
}
.ischangelball{
    font-size: 1.2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    color: green;
}
.ischangelball--red{
    color: red;
}
input{
    border: none;
    background-color: var(--section-color);
    border-radius: 2rem;
    color: var(--text-color);
    padding: 1rem;
}

#name{

}
#username{

}
#email{

}
#phone{

}
.saveChangesBtn{
    border: none;
    background-color: green;
    border-radius: 2rem;
    padding: 1rem 2rem;
    max-width: 200px;
    margin-top: 26.09px;
    color: #fff;

}
.saveChangesBtn:hover{
    background-color:#006e00;
}

/* change pass */

#passwordsection-wrapper{
    margin-top: 7rem;
}