@import "../../components/header/header.css";
@import "../../components/course-box/course-box.css";
@import "../../components/default.css";
@import "../../components/footer/footer.css";


/* start helper classes */

.courses-section__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 6rem;
    margin-bottom: 2rem;
}
.courses-section__title-wrapper{

}
.courses-section__title{
    font-size: 2.8rem;
    font-family: "IRANSans bold";
    position: relative;
    padding-right: 3rem;
    color: var(--text-color);
}
.courses-section__title::before{
    content: "";
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
    border-radius: .5rem;

}
.blue-bg.courses-section__title::before{
    background-color: var(--primary-color);
}
.courses-section__desc{
    font-size: 2rem;
    color: #827b7b;
}
.courses-section__see-all{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 23rem;
    height: 5rem;
    border-radius: 3rem;
    font-size: 2rem;
    color: var(--primary-color);
    transition: all 200ms ease;
    border: none;
    padding: 0.5rem 1rem;
}
.courses-section__see-all:hover{
    color: #fff;
    background-color: var(--primary-color);
}
.courses-section__see-all-icon{
    
}

/* end helper classes */

.main{
    padding-top: 8.5rem;
}
/* start home */

.home{
    overflow-x: hidden;
    margin-top: 5rem;
}
.home-wrapper{
    display: flex;
    justify-content: space-between;
}
.home__right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
    color: var(--text-color);
}
.home__title{
    font-size: 5rem;
    font-family: "IRANSans black";
    max-width: 42rem;
}
.home__text{
    font-size: 2.5rem;
    margin-top: 2rem;
    max-width: 44rem;
}
.home__links{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.home__link{
    border: none;
    font-size: 2rem;
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 3rem;
    text-wrap: nowrap;
    transition: all 150ms ease;
}
.home__link:hover{
    color: #fff;
    box-shadow: 3px 3px 10px #827b7b;
}
.home__link:last-child{
    background-color: green;

}
.home__left{

}
.home__banner{

}
.home__image{
    width: 120%;
}

/* end home */

/* start last courses */

.lastcourses{

}

/* end last courses */

/* start our help */

.ourhelp{

}
.ourhelp__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--section-color);
    padding: 1.5rem;
    border-radius: 3rem;
    margin: 0.75rem auto;
}
.ourhelp__icon{
    margin-left: 2rem;
    flex-basis: 18%;
    width: 6rem;
    min-height: 5rem;
}
.ourhelp__content{

}
.ourhelp__title{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--text-color);
}
.ourhelp__desc{
    font-size: 1.5rem;
    color: var(--text-color-light);
}

/* end our help */

/* start swiper */

.swiper{
    padding-bottom: 3rem;
}
.swiper-pagination-bullet{
    background-color: var(--text-color) !important;
}
.swiper-pagination-bullet-active{
    background-color: var(--primary-color) !important;
}


/* end swiper */

