@import "../../components/header/header.css";
@import "../../components/course-box/course-box.css";
@import "../../components/default.css";
@import "../../components/footer/footer.css";



.main{
    padding-top: 8.5rem;
}

/* satrt courses header */

.courses__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 6rem;
    margin-bottom: 4rem;
    color: var(--text-color);
}
.courses__title{
    font-size: 2.8rem;
    font-family: "IRANSans bold";
    position: relative;
    padding-right: 3rem;
}
.courses__title::before{
    content: "";
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
    border-radius: .5rem;

}
.blue-bg.courses__title::before{
    background-color: var(--primary-color);
}
.courses__count{
    text-align: left;
    width: 23rem;
    height: 5rem;
    font-size: 2rem;
    color: var(--text-color-light);
}

/* end courses header */


/* start sorting */
.courses__sort-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--section-color);
    border-radius: 2rem;
    margin-bottom: 1rem;
    color: var(--text-color);
}
.courses__sort-box-right{
    display: flex;
    align-items: center;
    background-color: var(--section-color);
    font-size: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;    
    padding-right: 2rem;
}
.courses__sort-box-icon {
    font-size: 3rem;
    margin-left: 1.5rem;
}
.courses__sort-method-text{
    margin-left: 2rem;
    display: flex;
    align-items: center;
}
.coursees__sort-method-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    gap: 3rem;
    height: 100%;
    padding: 0;
}
.coursees__sort-method-item{
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 2rem 0;
}
.coursees__sort-method-item--active{
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    border-top: 2px solid var(--primary-color);
}


.courses__sort-box-left{

}
.courses__sort-box-search-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: var(--section-color);
    font-size: 2rem;
    height: 7rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding: 0 2rem;
}
.courses__sort-box-search-box-input{
    width: 100%;
    border: none;
    background-color: var(--app-bg-color);
    padding: 1rem;
    border-radius: 2rem;
    padding-left: 5rem;
    color: var(--text-color);
}
.courses__sort-box-search-box-icon{
    position: absolute;
    left: 3rem;
}

/* end sorting */