/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 6 version
*/

@media (min-width: 1400px) {
    .container {
        width: 1250px;
    }

}

@media screen and (max-width: 1350px) {
    .home__image{
        width: 110%;
    }
}
@media screen and (max-width: 1200px) {
    .home__title{
        font-size: 5rem;
    }
    .home__text{
        font-size: 2rem;
    }
    .home__image{
        width: 118%;
    }
    .ourhelp__icon{
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    }
}

@media screen and (max-width: 992px) {
    .home-wrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .home__image{
        width: 100%;
    }
    .home__right{
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-left: 0rem;
        text-align: center;
        margin-top: 5rem;
    }
    .ourhelp__box{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
    }
    .ourhelp__icon{
        margin-bottom: 3rem;
        margin-left: 0;
        width: 8rem;
        height: 8rem;
    }
}

@media screen and (max-width: 768px) {


}

@media screen and (max-width: 576px) {
    .home__title{
        font-size: 4rem;
        max-width: 34rem;
    }
    .home__text{
        font-size: 1.8rem;
    }
    .home__links{
        gap: .5rem;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-top: 2rem;
    }
    .courses-section__header{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: .5rem;
    }

}