/* @import "../../../components/header/header.css"; */
@import "../../../components/default.css";
@import "../../../components/course-box/course-box.css";
@import "../../components/menu-account.css";
@import "../../components/content-account.css";

.main{

}

body{
    background-color: var(--section-color);
    padding: 5rem ;
}


/* start account content */

.course-box__btn{
    display: block;
    background-color: var(--primary-color);
    text-align: center;
    padding: 1rem 0.5rem;
    border-radius: 3rem;
}
.account-content__courses{
    margin-top: 2rem;

}

.account-content__courses-wrapper{

}
.course-box__btn:hover{
    color: #fff;
    background-color: #0055a0;
}

/* end account content */